{% extends 'base.html' %}

{% block page_content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Listado de Productos</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Acciones</div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#agregar">
                        <i class="far fa-calendar-plus"></i> Agregar
                    </a>                                
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">                                                                       
            <table class="table table-striped table-hover">
                <thead>
                    <th>Id</th>
                    <th>Codigo de Barras</th>
                    <th>Producto</th>
                    <th>Precio</th>                                  
                    <th class="all">Acciones</th>
                </thead>
                <tbody>                                  
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>                                      
                        <td></td>
                        <td>
                            <a href="" class="btn btn-warning btn-circle" role="button"><i class="far fa-edit"></i></a> 
                            <a href="" class="btn btn-danger btn-circle" role="button"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>                                  
                </tbody>
            </table>                          
        </div>
    </div>           
</div>
<div class="modal fade" id="agregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="user">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" id="codigo_barra"
                            placeholder="Codigo de Barra...">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user"
                            id="nombre" placeholder="Producto...">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control form-control-user"
                            id="precio" placeholder="Precio...">
                    </div>                                     
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="">Guardar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js_page %}
<script>
    // Call the dataTables jQuery plugin
    $(document).ready(function() {
        $('.table').DataTable({
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "<span class='fa fa-angle-double-left'></span>",
                    "sLast": "<span class='fa fa-angle-double-right'></span>",
                    "sNext": "<span class='fa fa-angle-right'></span>",
                    "sPrevious": "<span class='fa fa-angle-left'></span>"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
    });   
</script>
{% endblock %}
